.page-main{
  left: 0;
  top:0;
  position: absolute;
}
.h13{
  margin-top: 0;

  /*margin-left: 0;*/
}
.add-button{
  padding: 5px 10px;
  background-color: #00da72;
  border-radius: 10%;
  border: black 1px solid;
  font-weight: bolder;
  font-size: 20px;
}

.list-main{
  display: flex;
  flex-direction: column;
  padding: 0;
}
.h11{
  left: 30px;
}
.h12{
  left: 30px;
}
.comfirmButton{
  padding: 5px 10px;
  background-color: #ff8484;
  border-radius: 10%;
  border: black 1px solid;
}
